<?xml version='1.0' encoding='UTF-8'?>
<!--

    SPDX-License-Identifier: MIT
    See LICENSE file for details.

    Copyright 2000-2026 Russell Gold
    Copyright 2021-2000 hazendaz

-->
<web-app>
  <servlet>
     <servlet-name>Editor</servlet-name>
     <servlet-class>tutorial.PoolEditorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>Editor</servlet-name>
     <url-pattern>/PoolEditor</url-pattern>
   </servlet-mapping>
   <security-constraint>
       <web-resource-collection>
           <web-resource-name>Administration</web-resource-name>
           <url-pattern>/PoolEditor</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>pool-admin</role-name>
        </auth-constraint>
   </security-constraint>
   <login-config>
       <auth-method>BASIC</auth-method>
       <realm-name>Betting Pool</realm-name>
   </login-config>
</web-app>
